body {
	padding: 20px;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.debugTierDropdown {
	display: inline-block;
	vertical-align: middle;
	width: 110px;
}

.pointer {
  cursor: pointer;
}

.dropdown-menu i {
	margin-right: 5px;
}

#project_title h2 {
	margin: 0px 0px 25px 0px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	#project_title {
		width: 100%;
	}
}

.dropdownjs::after {
	content: "\e8a3" !important;
}

.checkbox .checkbox-material .check {
	margin-right: 8px;
}